extends pageLayout

block content
    .jumbotron
        h1.display-4.text-center Espace d'administration
            h4.lead.text-center Chez bRoux
            hr.my-4 
            p.text-center Ajoutez des plats comme bon vous semble, monsieur le chef!

    .card.col-6.m-auto
        .card-body 
            form(action="/admin/ajouter", method="POST")
                .form-group
                    label(for="name") Nom: 
                    input(type="text", name="name", id="name").form-control
                .form-group
                    label(for="description") Description: 
                    input(type="text", name="description", id="description").form-control 
                .form-group
                    label(for="prix") Prix: 
                    input(type="text", name="prix", id="prix").form-control 
                .form-group
                    label(for="image") Image: 
                    input(type="file", name="image", id="image" accept=".jpeg, .jpg").form-control
                button(type="submit").btn.btn-success Ajouter
    br