.card-deck(style='justify-content: center;').py-5
  .row
    .col-lg-4.text-center
      .card(style='background-color: white; border:none;')
        .card-body
          a(href='/menu')
            img.img-fluid(src='images/CEM.jpg' alt='CEM' data-toggle='tooltip' title='Le luxe, abordable!' style='width: 200px; height: 200px;')
        .card-footer(style='background-color: white;')
          h3 Clé en Main
          p1 Notre service clé en main pour organiser vos évènements!
    .col-lg-4.text-center
      .card(style='background-color: white; border:none;')
        .card-body.text-center
          a(href='/menu')
            img.img-fluid(src='images/Salle.jpg' alt='Livraison' data-toggle='tooltip' title='Directement à votre porte!' style='width: 200px; height: 200px;')
        .card-footer(style='background-color: white;')
          h3 Livraison 
          p1 Nous effectuons la livraison dans le secteur S de Brossard
    .col-lg-4.text-center
      .card(style='background-color: white; border:none;')
        .card-body
          a(href='/menu')
            img.img-fluid(src='images/cave_vin.jpg' alt='Pick-up' data-toggle='tooltip' title='Simple et rapide!' style='width: 200px; height: 200px;')
        .card-footer(style='background-color: white;')
          h3 Options variées!
          p1 Une cave à vin des plus prestigieuse de la rue!

