html
  body
      br
      #carrousel.carrousel.slide(data-bs-ride='carousel' style="display:block; width:90%; margin: auto;")
        .carousel-inner
          .carousel-item.active
            img.d-block(src='images/C1.jpg' style=' height: 400px;' alt='Carrousel1')
          .carousel-item
            img.d-block(src='images/C2.jpg' style=' height: 400px;' alt='Carrousel2')
          .carousel-item
            img.d-block(src='images/C3.jpg' style=' height: 400px;' alt='Carrousel3')
      br
