style.
  ul {  
  padding: 20px;
  }
  @media screen and (min-width: 768px) {
  li {
  font-size: 17px;
  }
  }
  @media screen and (max-width: 1000px) {
  li {
  font-size: 11px;
  }
  }

nav.navbar.navbar-expand-md.bg-dark.px-5.py-0.mb-3.m-0.navbar-dark
  .container-fluid
    a.navbar-brand(href="/").ml-5.m-auto
      img(src="/images/logo.jpg", alt="logo" width="100" height="100") 

    button.navbar-toggler(type='button', data-toggle='collapse',data-target='#navbarSupportedContent',aria-controls='navbarSupportedContent',aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    .collapse.navbar-collapse.text-right(id='navbarSupportedContent')


      ul.navbar-nav.text-capitalize.m-auto.text-size 
        li.nav-item.hover-danger
          a.nav-link(href="/").text-white accueil
        li.nav-item 
          a.nav-link(href="/menu").text-white menu
        li.nav-item 
          a.nav-link(href="/panier").text-white Panier
        li.nav-item 
          a.nav-link(href="/confirmed").text-white commandes
      ul.navbar-nav
        li.nav-item.font-weight-bold 
          a.nav-link(href="/adminLogin").text-white Admin
            br 
