.jumbotron.jumbotron-fluid(style='padding:80px; background-color: #f69656;')
  .text-center.text-black
    h1 Chez bRoux
    h4 Laissez-vous emporter
    hr
    br
    p   "Depuis que l'Homme est l'Homme, l'homo-sapiens a su se divertir, des sports, des jeux mais surtout... des fêtes. Dès l'époque sumérienne il y a plus de 6000 ans, des morceaux d'emphores, de coupes, de plateaux et d'assiettes ont été retrouvées dans des sites archéologiques. Signe inébranlable de fêtes et de joies. Nous, chez bRoux, nous avons perfectionné l'art de la fine gastronomie, de l'ambiance disjonctée et des célébrations farfelue. Que ce soit pour un mariage, une bar-mitzvah, un party de job ou une simple partouse sans légitimitée - Chez bRoux est là pour vous faire vivre des émotions sans égales. Laissez-nous le soins de vous baigner dans l'extase pure des bons moments passés entre amis. Laissez-nous épater vos amis puisque (vous le savez aussi bien que nous), vous en êtes incapable. Laissez-nous planifier vos soirées thématiques: des romains jusqu'à l'espace, des geishas jusqu'à Gatsby, rien n'est tabou avec bRoux!"
          