.jumbotron
    h1.display-4.text-center Chez bRoux vous invite
        p.lead Les marchands d'expériences 
        hr.my-4
        a.btn.btn-danger.btn-lg(href="/userLogin", role='button') Connectez-vous!